:root{
  --rhythm: 30px;
}
*{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

/* --- Text field --- */
.mds-text-field{
  margin: var(--rhythm) 0;
  position: relative;
  width: 280px;
  height: 56px;
  margin-bottom: 30px;
}
.mds-text-field__input{
  padding: 24px 0 10px 12px;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background-color: #EEEEEE;
  border: 0;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  transition: border-bottom 0.2s linear;
}
.mds-text-field__label{
  position: absolute;
  font-size: 2rem;
  color: #9E9E9E;
  top: 50%;
  left: 12px;
  transform: translate(0, -50%);
  pointer-events: none;

}
.mds-text-field__input:focus + .mds-text-field__label{
  color: #6200ee;
}

.mds-text-field__border{
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #9E9E9E;
  bottom: 0;
  transform: scaleX(0);
  transition: transform 0.2s linear, background-color, 0.2s linear;
  z-index: 1;
}
.mds-text-field__input:focus ~ .mds-text-field__border{
  background-color: #6200ee;
}

/* --- Switch --- */
.mds-switch{
  margin: var(--rhythm) 0;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.mds-switch__track{
  position: relative;
  width: 36px;
  height: 16px;
  background-color: #BDBDBD;
  border-radius: 10px;
  top: 2px;
  pointer-events: none;
  transition: background-color 0.1s linear;
}
.mds-switch__thumb{
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  top: 50%;
  transform: translate(0, -50%);
  pointer-events: none;
  transition: transform 0.1s linear, background-color 0.1s linear;
}

.mds-switch__track--active{
  background-color: #6200ee89;
}
.mds-switch__thumb--active{
  transform: translate(100%, -50%);
  background-color: #6200eeff;
}

/* --- Checkbox --- */
.mds-checkbox{
  margin: var(--rhythm) 0;
  position: relative;
  width: 0;
  height: 24px;
  font-size: 1.6rem;
  padding-left: 30px;
  line-height: 24px;
}
.mds-checkbox__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  margin: 0;
  opacity: 0.01;
  z-index: 1;
  cursor: pointer;
}
.mds-checkbox__checkmark{
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: none;
  border: 2px solid #0000008a;
  box-sizing: border-box;
  border-radius: 3px;
  transition: background-color 0.2s linear, border 0.2s linear;
}
.mds-checkbox__input:checked ~ .mds-checkbox__checkmark{
  border: 2px solid #6200eeff;
  background-color: #6200eeff;
}
.mds-checkbox__checkmark::after{
  content: "";
  position: absolute;
  opacity: 0.01;
  top: 2px;
  left: 6px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
  transition: opacity 0.2s linear;
}
.mds-checkbox__input:checked ~ .mds-checkbox__checkmark::after{
  opacity: 1;
}
.mds-checkbox__input:checked ~ .mds-checkbox__checkmark--checked{
  border: 2px solid #6200eeff;
  background-color: #6200eeff;
}
/* --- Radio button --- */
.mds-radio-btn{
  position: relative;
  margin: var(--rhythm) 0;
  display: flex;
  align-items: center;
  height: 20px;
  font-size: 1.6rem;
  padding-left: 30px;
}
.mds-radio-btn__input{
  position: absolute;
  left: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  opacity: 0.01;
  z-index: 1;
  cursor: pointer;
}
.mds-radio-btn__checkmark{
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 2px solid #00000089;
  box-sizing: border-box;
  transition: border 0.2s linear;
}
.mds-radio-btn__checkmark__inner-circle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #6200eeff;
  opacity: 0.01;
  transition: opacity 0.2s linear;
}
.mds-radio-btn__input:checked ~ .mds-radio-btn__checkmark{
  border: 2px solid #6200eeff;
}
.mds-radio-btn__input:checked ~ .mds-radio-btn__checkmark > .mds-radio-btn__checkmark__inner-circle{
  opacity: 1;
}
